.question {
    background-color: #fefefe;
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
    padding: 24px;

    & + .question{
        margin-top: 8px;
    }

    &.highlighted{
        background: #f4f0ff;
        border: 1px solid #835afd;

        footer .user-info span{
            color: #29292e;
        }
    }

    &.answered{
        background: #dbdcdd;
    }

    p {
        color: #29292e;
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top:24px;
    
        .user-info{
            display: flex;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius:50%;
            }

            span{
                margin-left: 8px;
                color: #737380;
                font-weight: 500;
                font-size: 14px;
            }
        }
    
        > div{
            display: flex;
            gap: 16px;
            vertical-align: middle !important;
        }

        button{
            border:0;
            background:transparent;
            cursor: pointer;
            transition: filter 0.2s;

            &.like-button{
                display: flex;
                align-items: flex-end;
                color: #737380;
                gap: 8px;
                vertical-align: middle;
                padding-bottom: 5px;
                padding-left: 8px;

                &.liked{
                    color: #835afd;
                    vertical-align: middle;
                    

                    svg path {
                        stroke:#835afd;
                    }
                }
            }

            &:hover{
                filter:brightness(0.7);
            }
        }
    }

    hr {
        border-color: #f7f7f7;
        margin: 20px 0;
    }

    form {
        .answer-input {
            width: 100%;
            border: 1px solid #dfdfdf;
            padding: 16px;
            border-radius:8px;
            background: #fefefe;
            resize: vertical;
            min-height: 130px;
        }

        .form-answer-footer {
            display: flex;
            justify-content: flex-end;
            margin-top: 16px;
        }
        button {
            height:40px;
            border-radius: 8px;
            font-weight: 500;
            background: #835afd;
            color: #FFF;
            padding: 0 25px;
            font-size: 14px;
        
            display: flex;
            justify-content:center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;
        
            img {
                margin-right:8px;
            }
        }
    }
    
}
@media (max-width: 768px) {
    footer {
        .user-info{ 
            
            span{
                margin-left: 1px !important;
                font-weight: 300;
                font-size: 12px !important;
            }
        }
    }
    form {
        button {
            font-size: 12px !important;
            margin-bottom: 20px;
        }
    }
}